/* 노멀라이즈 */
* {
    font-family: 'Pretendard';
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
}

input {
    border: none;
    background-color: inherit;
}

input:focus {
    outline: none;
}

.grow {
    flex-grow: 1;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}


/* 커스텀 시작 */
::selection {
    background-color: #e6e6e6;
}
.wrap {
    /* scroll-snap-type: y mandatory;  */
    /* mandatory proximity */
    height: 100vh;
    /* overflow-y: scroll; */
    /* scroll-behavior: smooth; */
    /* scrollbar-width: none; */
}
.wrap section {
    min-width: 1280px;
    height: 100vh;
    max-height: 1080px;
    overflow-y: hidden;
    /* scroll-snap-align: start; */
    margin: 0 auto;
}


/* section1 시작 */
/* #section1 {
    height: 100vh;
    max-height: 1080px;
} */
section .inner {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    position: relative;
}
#section1 .inner {
    display: flex
;
}

.video_wrap {
    width: 45%;
    /* min-width: 880px;
    max-width: 880px; */
    height: 100vh;
    max-height: 1080px;
}
.video_wrap > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* margin-left: -100px; */
}
.object_box {
    width: 55%;
    position: relative;
    overflow: hidden;
    user-select: none;
}
.object_box img {
    display: block;
}
.object_box .planet_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* border: 1px solid #000; */
}
.object_box .meteor_1 {
    position: absolute;
    left: 80px;
    top: 0;
}
.object_box .meteor_2 {
    position: absolute;
    top: 851px;
    left: 291px;
    transform: rotate(-10deg);
}
.object_box .meteor_3 {
    position: absolute;
    top: 927px;
    left: 646px;
}
.object_box .ring1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.object_box .ring2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.object_box .txt_1 {
    position: absolute;
    right: 40px;
    top: 40px;
    font-weight: 300;
    color: #141B25;
    z-index: 100;
}
.object_box .txt_1.active {
    color: #fff;
}
.object_box .txt_2 {
    position: absolute;
    right: 40px;
    bottom: 40px;
    font-weight: 300;
    color: #141B25;
}
.object_box .leftdown {
    position: absolute;
    bottom: -420px;
    left: -320px;
    z-index: -1;

}
.object_box .rightup {
    position: absolute;
    right: -300px;
    top: -260px;
    right: -280px;
    z-index: -1;
}
/* section1 끝 */



section .inner .left_con {
    position: relative;
    width: 45%;
    height: 100vh;
    max-height: 1080px;
    overflow: hidden;
}


.galaxy {
    width: 100%;
    position: absolute;
    /* top: 50%;
    transform: translatey(-50%); */
    animation-name: updown;
    animation-duration: 180s; /* 몇 초 동안 애니메이션 할 건지*/
    animation-iteration-count: infinite;
    /* position: relative; */
}

.left_con > .title_box {
    position: absolute;
    /* top: 40%; */
    top: 50%;
    transform: translateY(-50%);
    left: 84px;
    color: #fff;
}
.left_con > .title_box > .title {
    font-size: 64px;
    font-weight: 600;
    letter-spacing: 2px;
}
.left_con > .title_box > .txt_box {
    width: 618px;
    margin-top: 18px;
    line-height: 27px;
}

@keyframes updown {
    0% {
        top: -20px;
        scale: 100%;
    }
    
    25% {
        /* top: -150px; */
        top: -50px;
        scale: 114%;
    }
    50% {
        /* top: -350px; */
        top: -100px;
        scale: 100%;
    }

    75% {
        /* top: -150px; */
        top: -50px;
        scale: 114%;
    }
    
    
    100% {
        top: -20px;
        scale: 100%;
    }
}



/* section2 시작 */

.section2 .inner > .left_con {
    max-width: 740px;
    background: radial-gradient(circle at 40% -18%, #F6786A, #C39174, #649C84);
}
.section2 .left_con .star {
    position: absolute;
    top: 502px;
    left: -37px;
    opacity: .8;
    animation-name: twinkle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes twinkle {
    0% {
        opacity: 1;
    }
    
    50% {
        opacity: 0.78;
    }
    100% {
        opacity: 1;
    }
}



section .left_con > .txt_box {
    position: absolute;
    bottom: 40px;
    left: 40px;
    display: flex;
    gap: 24px;
    color: #fff;
}
section .left_con .txt_box .bold {
    font-weight: 600;
}
section .left_con .txt_box > div > div {
    line-height: 31px;
    font-weight: 300;
}


section .right_con {
    width: 70%;
    position: relative;
}
section .right_con > .right_txt {
    position: absolute;
    right: 40px;
    top: 40px;
    font-weight: 300;
    color: #141B25;
    z-index: 100;    
}
section .right_con > .right_con_txt_box {
    width: 441px;
    position: absolute;
    top: 344px;
    right: 52px;
    padding: 0 12px;
    padding-bottom: 12px;
    color: #1D2128;
    z-index: 10;
}
.right_con .pagination_box {
    margin-top: 10px;
}
.section2 .right_con .pagination_box {
    display: flex;
    gap: 10px;
}
.right_con .pagination_box div {
    width: 8px;
    height: 8px;
    background-color: #D6DFEA;
    border-radius: 20px;
    cursor: pointer;
}
.section2 .right_con .pagination_box div.click {
    background-color: #626B7B;
}
section .right_con .txt_title {
    margin-top: 32px;
    font-size: 28px;
}
section .right_con .txt_body {
    /* width: 417px; */
    line-height: 24px;
    margin-top: 18px;
}
section .right_con .btn_box {
    margin-top: 28px;
    display: flex;
    gap: 8px;
}

section .right_con .btn_box button {
    border: 1px solid #fff;
    border-radius: 1px;
}
section .right_con .btn_box button a {
    padding: 13px 35px;
    font-size: 16px;
}
.section2 .right_con .btn_box button {
    border: 1px solid transparent;
    border-image: linear-gradient(45deg, #F6786A, #649C84);
    border-image-slice: 1;
    background: linear-gradient(45deg, #F6786A, #649C84); /* 그라디언트 색상 */
    -webkit-background-clip: text; /* 배경을 텍스트 영역으로 클립 */
    -webkit-text-fill-color: transparent;
    mask-image: linear-gradient(white, white);
}

.section2 .right_con .line {
    position: absolute;
    top: 695px;
    right: 22%;
}

.window {
    position: absolute;
    top: 68px;
    bottom: 0;
    left: 404px;   
    width: 952px;
    /* height: 990px; */
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    overflow: hidden;
    /* display: none; */
}

.window > div {
    position: relative;
}
.window > .img_area {
    height: 894px;
    max-height: 950px;
    overflow: hidden;
}
/* 탭 */
.window > div > .tap_img.active_1 {
    left: 24px;
}
.window > div > .tap_img.active_2 {
    left: 213px;
}
.window > div > .tap_img.active_3 {
    left: 402px;
}

.window .tap_box {
    background-color: #F0F2F5;
    height: 46px;
    display: flex;
    align-items: center;
    padding-left: 47px;
    color: #565656;
    font-size: 12px;
}
.window .tap_box > div:first-child {
    padding-top: 1px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    z-index: 1;
}


.window .tap_box > div:first-child .tap {
    width: 179px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 10px;
    user-select: none;
}

/* 탭메뉴 호버 이벤트 */
.tap_box > div:first-child .tap:hover {
    /* border: 1px solid black; */
    background: #b1b5bc;
    border-radius: 10px;
}
.tap_box > div:first-child .tap.click:hover {
    background: none; 
}
.window .tap_box > div:first-child .tap > span {
    width: 108px;
    user-select: none;
}
.window .tap_box > .close_btn {
    width: 26px;
    height: 26px;
    margin-right: 12px;
    cursor: pointer;
}
.window .tap_box > .close_btn > img {
    width: 100%;
    height: 100%;
}

/* url_area 시작 */
.window .url_area .url_box {
    height: 50px;
    background-color: #fff;
    gap: 9px;
    display: flex;
    padding: 10px 9px 10px 11px;
}
.window .url_box > .grow {
    display: flex;
    align-items: center;
    background-color: #F7F8FB;
    padding-left: 20px;
    padding-bottom: 2px;
    border-radius: 36px;
    font-size: 12px;
    font-weight: 300;
    color: #66676B;
    transition: background-color, .1s ease-in-out;
}
.window .url_box > .grow:hover {
    background-color: #E1E6ED;
}
.window .url_box > .img_box:first-child {
    width: 30px;
    height: 30px;
}
.window .url_box > .img_box:last-child {
    width: 20px;
    height: 30px;
}
/* url_area 끝 */

/* img_area 시작 */
.window .img_area > img {
    width: 100%;
}
/* img_area 끝 */

/* section2 끝 */


/* section3 시작 */
.section3 {
    height: 100vh;
    max-height: 1080px;
    margin: 0 auto;
}
.section3 .inner > .left_con {
    width: 65%;
    max-width: 1180px;
    /* background: radial-gradient(circle at 20% -18%, #F6786A, #C39174, #649C84); */
}
.section3 .left_con .line {
    position: absolute;
    /* top: 695px; */
    bottom: 46px;
    left: 16%;
}
.section3 .left_con > .txt_box {
    color: #372a20;
}
.section3 .left_con .txt_box .bold {
    font-weight: 600;
}
.section3 .left_con .txt_box > div > div {
    line-height: 31px;
    font-weight: 300;
}


.section3 .inner .right_con {
    width: 740px;
    position: relative;
    background: linear-gradient(to bottom, #C9AE84, #362920);
}
.section3 .right_con > .right_txt {
    color: #fff; /* 우측 상단 프로젝트 유형 */
}
.section3 .right_con > .right_con_txt_box {
    color: #fff;
}
.section3 .right_con .pagination_box {
    display: flex;
    gap: 10px;
}
.section3 .right_con .pagination_box div {
    background-color: #A99782;
}
.section3 .right_con .pagination_box div.click {
    background-color: #EEE6DD;
}
.section3 .right_con .btn_box button {
    border: 1px solid #DDD0C0;
    color: #f3ede5;
}
.section3 .right_con > .txt_box {
    right: 48px;
}

.section3 .window .tap_box {
    background-color: #F6F4F0;
}


/* section3 끝 */


/* section4 시작 */
.section4 {
    height: 100vh;
    max-height: 1080px;
}
.section4 > .inner > .left_con {
    max-width: 740px;
    background: linear-gradient(-34deg, #3C91F4, #4C7CF4, #5B6AF4);
}
.section4 .left_con .star {
    position: absolute;
    top: 340px;
    left: -150px;
    transform: rotate(-85deg);
    opacity: 0.8;
    animation-name: twinkle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.section4 .left_con > .txt_box {
    color: #fff;
}

.section4 .right_con .btn_box button {
    border: 1px solid #3C91F4;
    color: #3c91f4;
}

.section4 .right_con .line {
    position: absolute;
    top: 695px;
    right: 22%;
}


/* 탭 */
.window > div > .tap_img {
    position: absolute;
    left: 24px;
    bottom: -0.7px;
    transition: all .1s ease-out;
}

.section4 .window .tap_box {
    background: linear-gradient(to right, #ECF4FE, #effaff);
    height: 46px;
    display: flex;
    align-items: center;
    padding-left: 47px;
    color: #565656;
    font-size: 12px;
}

/* section4 끝 */

/* section5 시작 */
.section5 {
    height: 100vh;
    max-height: 1080px;
    margin: 0 auto;
}
.section5 .inner > .left_con {
    width: 65%;
    max-width: 1180px;
}
.section5 .left_con .line {
    position: absolute;
    /* top: 695px; */
    bottom: 46px;
    left: 16%;
    z-index: 10;
}
.section5 .left_con .star {
    position: absolute;
    top: 480px;
    left: -80px;
    filter: contrast(0.7);
    transform: rotate(325deg);
    animation-name: twinkle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.section5 .left_con > .txt_box {
    color: #372a20;
}


.section5 .inner .right_con {
    width: 740px;
    position: relative;
    background: linear-gradient(-174deg, #C6C8CB, #C7C8CB, #A9AAAD);;
}
.section5 .right_con > .right_txt {
    color: #fff; /* 우측 상단 프로젝트 유형 */
}
.section5 .right_con > .right_con_txt_box {
    color: #fff;
}
.section5 .right_con .pagination_box {
    display: flex;
    gap: 10px;
}
.section5 .right_con .pagination_box div {
    width: 8px;
    height: 8px;
    background-color: #EEE6DD;
    border-radius: 20px;
}
.section5 .right_con .pagination_box div.click {
    background-color: #A99782;
}
.section5 .right_con .txt_title {
    margin-top: 32px;
    font-size: 28px;
}
.section5 .right_con .btn_box button {
    border: 1px solid #fff;
    color: #fff;
}

section .right_con > .txt_box {
        position: absolute;
    bottom: 40px;
    right: 54px;
    display: flex;
    gap: 24px;
    color: #fff;
    line-height: 31px;
    font-weight: 300;
    z-index: 10;
    padding-left: 12px;
    padding-right: 12px;
}
section .right_con > .txt_box .bold {
    font-weight: 600;
}
/* section5 끝 */























@media (max-width: 1840px) {
    .window {
        width: 52%;
        min-width: 740px;
        left: 334px;
        /* height: 90%; */
        /* min-height: 924px; */
        max-height: 940px;
    }
}
@media (max-width: 1680px) {
    .left_con > .title_box > .txt_box {
        width: 90%;
        margin-top: 18px;
        line-height: 27px;
        font-size: 15.8px;
    }
}
@media (max-width: 1708px) {
    html {
        overflow-x: hidden;
    }
    section .right_con > .right_con_txt_box {
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        border-radius: 2px;
    }
    .section2 .right_con > .right_con_txt_box {
        background: rgba(255, 255, 255, 0.8);
    }
    .section3 .right_con > .right_con_txt_box {
        color: #181817;
    }
    .section5 .right_con > .right_con_txt_box {
        background: rgba(255, 255, 255, 0.1);
    }

    .section .right_con > .txt_box {
        background: rgba(255, 255, 255, 0.3);
    }
    .section3 .right_con > .txt_box {
        color: #181817;
    }
    .section5 .right_con > .txt_box {
        background: rgba(255, 255, 255, 0.1);
    }

    .section3 .right_con .pagination_box div {
        background-color: #4b341b;
        opacity: .15;
    }
    .section3 .right_con .pagination_box div.click {
        /* background-color: #EEE6DD; */
        background-color: #4b341b;
        opacity: 1;
    }
    .section3 .right_con .btn_box button {
        border: 1px solid #4b341b;
        color: #4b341b;
    }
    
}
@media (max-width: 1500px) {
    .galaxy {
        height: 120vh;
        object-fit: cover;
    }
    @keyframes updown {
        0% {
            top: -20px;
            scale: 100%;
        }
        25% {
            top: -40px;
            scale: 114%;
        }
        50% {
            top: -60px;
            scale: 100%;
        }
        75% {
            top: -40px;
            scale: 114%;
        }
        100% {
            top: -20px;
            scale: 100%;
        }
    }
}
@media (max-width: 1024px) {
    html {
        overflow-x: auto;
    }
    .wrap section {
        min-width: 1024px;
        width: 100%;
        height: 720px;
    }
    #section1 .inner {
        height: 100%;
    }
    /* section1 시작 */
    .object_box .planet {
        width: 280px;
    }
    .object_box .ring1 {
        width: 660px;
    }
    .object_box .ring2 {
        width: 700px;
    }
    .left_con > .title_box > .txt_box {
        width: 348px;
    }
    .left_con > .title_box {
        left: 64px;
        top: 36%;
    }
    .object_box .meteor_2 {
        top: initial;
        bottom: 1%;
    }
    .object_box .meteor_3 {
        top: initial;
        bottom: 1%;
    }
    .object_box .leftdown {
        bottom: initial;
    }
    /* section1 끝 */

    .left_con > .title_box > .title {
        font-size: 58px;
    }
    section .right_con > .right_con_txt_box {
        width: 400px;
    }
    section .right_con .btn_box button a {
        font-size: 15px;
    }
    .window {
        min-width: 700px;
        left: 160px;
    }
}